/*  =============
    css reset
    =============*/

    /* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*  =============
    formatação geral
    =============*/

    html {
        color: #868686;
    }

    html body a {
        color: black;
        text-decoration: none;
    }

    header {
        margin: 2vw 3vw 3vw 3vw;
    }

    header nav {
        display: flex;
        justify-content: space-between;
    }

    header nav ul{
        display: flex;
    }

    header nav a span {
        font-weight: bold;
    }

    header nav ul li.atual {
        color: black;
     }

    header nav ul li {
        padding: 0 2vw 0 2vw;
    }

    li.stories {
        color: black;
        padding: 0 80vw 0 80vw;
    }

     li.stories strong {
        font-weight: bold;
     }

  

    section.primeira {
        color: black;
        display: flex;
        margin: 3vw 7vw 0 7vw;
    }

    section.primeira div h1 span {
        color: #47C183;
    }

    section.primeira div p button {
        background-color: black;
        color: white;
        font-size: 2rem;
        padding: 20px 30px 20px 30px;
        border-radius: 2px; /*formato da borda*/
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    section.primeira h1 {
        font-size: 5rem;
        font-family: 'Times New Roman', Times, serif;
        font-weight: bold;
    }

    section.primeira p {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 2rem;
        margin: 2vw 0 2vw 0;
    }

    section.primeira div p a {
        text-decoration: underline;
    }

    section div.background {
        background-color: #F8F8F8;
        color: black;
        display: flex;
    }

    section div.background2 {
        display: flex;
    }

    /*formatação segunda section*/

    section.segunda {
        padding: 5vw 5vw 5vw 5vw;
    }

    section.segunda h2 {
        font-size: 2rem;
        color: black;
        font-weight: bold;
        padding: 0vw 3vw 5vw 35vw;
    }

    section.segunda p {
        color: black;
        font-size: 2rem;
        display: flex;
        padding: 3vw 0 3vw 0;
    }

    section.segunda div {
        padding: 2vw 0 2vw 0;
    }

    /*formatação terceira section*/

    section.terceira h2 {
        font-size: 2rem;
        color: black;
        font-weight: bold;
        padding: 0vw 4vw 5vw 31vw;
    }

    section.terceira {
        padding: 5vw 5vw 5vw 5vw;
    }

    section.terceira div.experiments {
        color: black;
        display: flex;
        padding: 0 3vw 0 3vw;
    }

    section.terceira div {
        margin: 0 3vw 0 3vw;
    }

    section.terceira p {
        font-size: 2rem;
        background-color: #F8F8F8;
        padding: 3vw 5vw 3vw 5vw;
    }

    section.terceira p span {
        font-weight: bold;
    }
    
    footer div {
        display: flex;
        justify-content: space-between;
    }

    footer div.footer1 {
        color: black;
        margin: 0 5vw 2vw 5vw;
    }

    footer div.footer2 {
        padding: 0 5vw 0 5vw;
    }

    footer div.footer2 p {
        display: flex;
        padding: 0 2vw 0 2vw;
    }

    footer div.footer2 p a {
        color: #868686;
        text-decoration: underline;
    }